
table {
    border-collapse: separate;
    border-spacing: 15px;
    margin-left: 100px;
    
    

}
 td {
    width: 70px;
    height: 70px;
    background: red;
    border: 5px solid rgb(82, 219, 82); 
    
 }

 table tr:nth-child(odd) td:nth-child(odd){
    background: rgb(82, 219, 82);
    border: 5px solid red;
}

table tr:nth-child(even) td:nth-child(even){
    background: rgb(82, 219, 82);
    border: 5px solid red;
}

.inside {
  width: 30px;
  height: 30px;
  background: red;
  margin: 0 auto;  
}

.inside-1 {
  width: 30px;
  height: 30px;
  background: rgb(82, 219, 82);
  margin: 0 auto;
}

.inside-2 {
    width: 30px;
  height: 30px;
  background: rgb(82, 219, 82);
  margin: 0 auto;
}

.inside-3 {
    width: 30px;
    height: 30px;
    background: red;
    margin: 0 auto;
}